lib/
obj/
bin/
out/

*~
.*
*.root
*.exe
*.o
*.so
*.so.*
*.pyc
*.py.json
*.py.cfg
*.pdf
*.png
*.tar.gz
*.log
cintdict.cc
cintdict.h

Makefile
Makefile.in
aclocal.m4
autom4te.cache/
closure_test
/closure
/config.status
/configure
/configure.scan
/depcomp
/install-sh
/missing
/work

/cfg/SkimmingCalibFW/work.*
/external/boost
/external/lib
